<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-ibtur"
    version="1.0.0">
    
    <name>IBTur</name>
    <description>
        Cordova IBTur Plugin
    </description>
    <author>Anderson Davi - adavi@itaipu.gov.br</author>
    <keywords></keywords>
    <license></license>
    
    <engines>
        <!-- Requires > 3.3.* because of the custom Framework tag for iOS [CB-5238] -->
        <!-- Requires > 3.5.0 because of the custom Framework tag for Android [CB-6698] -->
        <engine name="cordova" version=">=3.5.0" />
    </engines>
    
    <platform name="android">

        <preference name="FACEBOOK_APP_ID" />
        <preference name="FACEBOOK_APP_NAME" />
        
        <config-file target="res/values/facebookconnect.xml" parent="/*">
            <string name="fb_app_id">$FACEBOOK_APP_ID</string>
            <string name="fb_app_name">$FACEBOOK_APP_NAME</string>
        </config-file>

    </platform>

    <platform name="ios">

        <preference name="FACEBOOK_APP_ID" />
        <preference name="FACEBOOK_APP_NAME" />
        <preference name="GOOGLE_REVERSED_CLIENT_ID" />
        
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>Accedemos a tu ubicación para ofrecerte una mejor experiencia. Tu ubicación solo será utilizada para mostrarlo en los mapas.</string>
        </config-file>
        
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>Accedemos a tu ubicación para ofrecerte una mejor experiencia. Tu ubicación solo será utilizada para mostrarlo en los mapas.</string>
        </config-file>
        
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>Permitir acceder a tu librería de fotos para seleccionar y mostrar una imagen en tu perfil.</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>Permitir acceder a tu cámara para que puedas tomar una foto y mostrar en tu perfil.</string>
        </config-file>
        
        <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
            <string>Se utiliza el bluetooth del dispositivo para reconocer los dispositivos beacons cercanos.</string>
        </config-file>
        
        <config-file target="*-Info.plist" parent="NSBluetoothAlwaysUsageDescription">
            <string>Se utiliza el bluetooth del dispositivo para reconocer los dispositivos beacons cercanos.</string>
        </config-file>

        <!--
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>This app requires microphone access to function properly.</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSPhotoLibraryAddUsageDescription">
            <string>We access your photo library to save pictures.</string>
        </config-file>
        -->

        <config-file target="*-Info.plist" parent="FacebookAppID">
            <string>$FACEBOOK_APP_ID</string>
        </config-file>
        
        <config-file target="*-Info.plist" parent="FacebookDisplayName">
            <string>$FACEBOOK_APP_NAME</string>
        </config-file>
        
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLName</key>
                    <string>REVERSED_CLIENT_ID</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>$GOOGLE_REVERSED_CLIENT_ID</string>
                    </array>
                </dict>
                <dict>
                    <key>CFBundleURLSchemes</key>
                    <array>
                    <string>fb$FACEBOOK_APP_ID</string>
                    </array>
                </dict>
            </array>
        </config-file>

    </platform>
    
</plugin>
